@model APT_Market.Models.PropertyUpdateDto

<h2>Edycja lokalu</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Description">Opis mieszkania</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentPrice">Kwota najmu</label>
        <input asp-for="RentPrice" class="form-control" />
        <span asp-validation-for="RentPrice" class="text-danger"></span>
    </div>
    <button type="submit" asp-route-id="@Model.Id" class="btn btn-primary">Zapisz zmiany</button>
</form>