@{
    ViewBag.Title = "Panel administratora";
    Layout = "_Layout";
}
<!-- PANEL DO ZARZĄDZANIA UŻYYKOWNIKAMI I ROLAMI PRZEZ ADMINA-->
<h2>Zarządzanie użytkownikami</h2>
<p>
    <a asp-action="Create">Utwórz użytkownika</a>
</p>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Numer telefonu</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
            <td>@user.PhoneNumber</td>
        </tr>
    }
    </tbody>
</table>
