@{
    ViewBag.Title = "Płatności";
    Layout = "_Layout";
}
<!-- TUTAJ NAJEMCY MAJĄ HISTORIĘ I NADZCHODZĄCE PŁATNOŚCI Z DATAMI, A WYNAJMUJĄCY NADCHODZĄCE OD NAJEMCÓW I HISTORIĘ WPŁYWÓW Z DATAMI -->
<h2>Płatności</h2>
