@{
    ViewData["Title"] = "Strona główna";
}
<!-- STRONA POWITALNA -->

<div class="text-center">
    <h1 class="display-4">Witaj w APT-Market!</h1>
    <p>Aby przeglądać ogłoszenia na tej stronie musisz być zalogowany. Jeśli nie posiadasz jescze konta zarejestruj się jako najemca lub wynajmujący.</p>
</div>