@{
    ViewBag.Title = "Zlecenie serwisowe";
    Layout = "_Layout";
}
<!-- STRONA Z INFORMACJAMI O ZLECENIACH SERWISOWYCH | NAJEMCY MOGĄ JE TWORZYĆ I SPRAWDZAĆ STATUS, A WYNAJMUJĄCY MOŻE NA NIE REAGOWAĆ I ZMIENIAĆ STATUSY ORAZ PRZEGLĄDAĆ -->

<h2>Zlecenie serwisowe</h2>
