@{
    ViewBag.Title = "Moje wynajmy";
    Layout = "_Layout";
}
<!-- STRONA DLA NAJEMCY, KTÓRA POKAZUJE WSZYSTKIE WYNAJĘTE PRZEZ NAJEMCE LOKALE ORAZ DANE DOT. LOKALI -->

<h2>Moje wynajmowane lokalne</h2>
